<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452433586152-gbh6ueq582fkvin8a3f6inufc3ksvfm2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452433586152-gbh6ueq582fkvin8a3f6inufc3ksvfm2</string>
	<key>API_KEY</key>
	<string>AIzaSyC0Qa83OHhYV_2-D9LpATEQDu40WXrU974</string>
	<key>GCM_SENDER_ID</key>
	<string>452433586152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.courseSelling.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ulearningapp-bloc</string>
	<key>STORAGE_BUCKET</key>
	<string>ulearningapp-bloc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452433586152:ios:65a20e8192d95a8869665d</string>
</dict>
</plist>